.App {
  text-align: center;
}

.App-logo {
  margin-top: -350px;
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.exercise-container {
  display: flex;
  flex-direction: row;
}

#year {
  display: flex;
   align-items: center;
   font-size: 32px;
   font-weight: bold;
   background-color: #61dafb;
   border: 5px solid white;
   padding: 12px 24px;
   border-radius: 10px;
 }

 #minus, #plus {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 15px;
   height: 15px;
   color: #333;
   font-size: 32px;
 }

 #input {
   margin: 24px;
 }
 
